@model tabungan_project.Models.tabungan

@{
    ViewBag.Title = "Create";
}

<h2 style="color: #60412B"><b><img src="~/fonts/img/brangkas.png" width="4%" />TABUNGAN</b></h2>
<h4 style="color: #60412B">Tambah Tabungan</h4>
<hr />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.tanggal_mulai, htmlAttributes: new { @class = "control-label col-md-2" }) 
            <div class="col-md-10">
                @Html.EditorFor(model => model.tanggal_mulai, new { htmlAttributes = new { @class = "form-control" } })
                <div style="color:darkred">
                    contoh : 23-Jun-22
                </div>
                @Html.ValidationMessageFor(model => model.tanggal_mulai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tanggal_berakhir, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tanggal_berakhir, new { htmlAttributes = new { @class = "form-control" } })
                <div style="color:darkred">
                    contoh : 23-Jun-25
                </div>
                @Html.ValidationMessageFor(model => model.tanggal_berakhir, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_user, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_user, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_user, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
