@model tabungan_project.Models.item

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: #AB3E16" font-family="montserrat"><b><img src="~/fonts/img/item.png" width="4%" />ITEM</b></h2>
<h4 style="color: #AB3E16">Hapus item</h4>
<hr />
<h5>Apakah kamu yakin ingin menghapus item ini?</h5>
<br />

<div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nama_item)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nama_item)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.harga)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.harga)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.id_category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id_category)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <br />
    <div class="form-actions no-color">
        <input type="submit" value="Hapus" class="btn btn-danger" />
        @Html.ActionLink("List", "Index", new { id = Model.id_item }, new { @class = "btn btn-info" })
    </div>
        }
    </div>
</div>
