@model tabungan_project.Models.users

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: #BEA42E"><b><img src="~/fonts/img/users.png" width="4%" />DATA USERS</b></h2>
<h4 style="color: #BEA42E">Hapus Data User</h4>
<hr />
<h5 style="color: #BEA42E">Apakah kamu yakin ingin menghapus data user ini?</h5>
<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nama_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomor_hp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomor_hp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passwords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passwords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_status)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("List", "Index", new { id = Model.id_user }, new { @class = "btn btn-info" })
        </div>
    }
</div>
